--
-- PostgreSQL database dump
--

\restrict xgCmtLnadXSIRgUftE7cQxRBg6spIT2v3J7Q2vFvHwg6ouHEbBWx06RUiKatIpi

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = NOW();

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: subtitle_chunks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subtitle_chunks (
    video_id character varying(20) NOT NULL,
    chunk_id integer NOT NULL,
    chunk_text text NOT NULL,
    short_title text,
    ai_field_1 text,
    ai_field_2 text,
    ai_field_3 text,
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.subtitle_chunks OWNER TO postgres;

--
-- Name: TABLE subtitle_chunks; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.subtitle_chunks IS 'Stores subtitle chunks with AI enrichment';


--
-- Name: COLUMN subtitle_chunks.chunk_text; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subtitle_chunks.chunk_text IS 'Full text of this chunk';


--
-- Name: COLUMN subtitle_chunks.short_title; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subtitle_chunks.short_title IS 'AI-generated short title (NULL if not processed)';


--
-- Name: COLUMN subtitle_chunks.ai_field_1; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subtitle_chunks.ai_field_1 IS 'AI-generated high-level summary (NULL if not processed)';


--
-- Name: COLUMN subtitle_chunks.ai_field_2; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subtitle_chunks.ai_field_2 IS 'AI-generated key points (NULL if not processed)';


--
-- Name: COLUMN subtitle_chunks.ai_field_3; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.subtitle_chunks.ai_field_3 IS 'AI-generated topics/themes (NULL if not processed)';


--
-- Name: video_notes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.video_notes (
    video_id character varying(20) NOT NULL,
    note_content text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now(),
    custom_tags text[] DEFAULT '{}'::text[]
);


ALTER TABLE public.video_notes OWNER TO postgres;

--
-- Name: COLUMN video_notes.custom_tags; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON COLUMN public.video_notes.custom_tags IS 'Array of custom tag strings for filtering';


--
-- Name: youtube_videos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.youtube_videos (
    id character varying(20) NOT NULL,
    kind character varying(50),
    etag character varying(100),
    published_at timestamp with time zone,
    channel_id character varying(50),
    title text,
    description text,
    channel_title character varying(255),
    category_id character varying(10),
    live_broadcast_content character varying(20),
    default_language character varying(10),
    default_audio_language character varying(10),
    tags text[],
    duration character varying(20),
    dimension character varying(10),
    definition character varying(10),
    caption boolean,
    licensed_content boolean,
    projection character varying(20),
    upload_status character varying(20),
    privacy_status character varying(20),
    license character varying(20),
    embeddable boolean,
    public_stats_viewable boolean,
    made_for_kids boolean,
    view_count bigint,
    like_count bigint,
    favorite_count integer,
    comment_count bigint,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.youtube_videos OWNER TO postgres;

--
-- Name: subtitle_chunks subtitle_chunks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subtitle_chunks
    ADD CONSTRAINT subtitle_chunks_pkey PRIMARY KEY (video_id, chunk_id);


--
-- Name: video_notes video_notes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_notes
    ADD CONSTRAINT video_notes_pkey PRIMARY KEY (video_id);


--
-- Name: youtube_videos youtube_videos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.youtube_videos
    ADD CONSTRAINT youtube_videos_pkey PRIMARY KEY (id);


--
-- Name: idx_channel_id; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_channel_id ON public.youtube_videos USING btree (channel_id);


--
-- Name: idx_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_created_at ON public.youtube_videos USING btree (created_at);


--
-- Name: idx_published_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_published_at ON public.youtube_videos USING btree (published_at);


--
-- Name: idx_subtitle_chunks_video; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_subtitle_chunks_video ON public.subtitle_chunks USING btree (video_id);


--
-- Name: idx_tags; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tags ON public.youtube_videos USING gin (tags);


--
-- Name: idx_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_updated_at ON public.youtube_videos USING btree (updated_at);


--
-- Name: idx_video_notes_custom_tags; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_notes_custom_tags ON public.video_notes USING gin (custom_tags);


--
-- Name: idx_video_notes_updated_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_video_notes_updated_at ON public.video_notes USING btree (updated_at);


--
-- Name: subtitle_chunks update_subtitle_chunks_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_subtitle_chunks_updated_at BEFORE UPDATE ON public.subtitle_chunks FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: video_notes update_video_notes_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_video_notes_updated_at BEFORE UPDATE ON public.video_notes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: youtube_videos update_youtube_videos_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_youtube_videos_updated_at BEFORE UPDATE ON public.youtube_videos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: subtitle_chunks fk_subtitle_chunk_video; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subtitle_chunks
    ADD CONSTRAINT fk_subtitle_chunk_video FOREIGN KEY (video_id) REFERENCES public.youtube_videos(id) ON DELETE CASCADE;


--
-- Name: video_notes fk_video; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.video_notes
    ADD CONSTRAINT fk_video FOREIGN KEY (video_id) REFERENCES public.youtube_videos(id) ON DELETE CASCADE;


--
-- Name: subtitle_chunks Allow all operations for testing; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all operations for testing" ON public.subtitle_chunks USING (true) WITH CHECK (true);


--
-- Name: video_notes Allow all operations for testing; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all operations for testing" ON public.video_notes USING (true) WITH CHECK (true);


--
-- Name: youtube_videos Allow all operations for testing; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY "Allow all operations for testing" ON public.youtube_videos USING (true) WITH CHECK (true);


--
-- Name: subtitle_chunks; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.subtitle_chunks ENABLE ROW LEVEL SECURITY;

--
-- Name: video_notes; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.video_notes ENABLE ROW LEVEL SECURITY;

--
-- Name: youtube_videos; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.youtube_videos ENABLE ROW LEVEL SECURITY;

--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: FUNCTION update_updated_at_column(); Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON FUNCTION public.update_updated_at_column() TO anon;
GRANT ALL ON FUNCTION public.update_updated_at_column() TO authenticated;
GRANT ALL ON FUNCTION public.update_updated_at_column() TO service_role;


--
-- Name: TABLE subtitle_chunks; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.subtitle_chunks TO anon;
GRANT ALL ON TABLE public.subtitle_chunks TO authenticated;
GRANT ALL ON TABLE public.subtitle_chunks TO service_role;


--
-- Name: TABLE video_notes; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.video_notes TO anon;
GRANT ALL ON TABLE public.video_notes TO authenticated;
GRANT ALL ON TABLE public.video_notes TO service_role;


--
-- Name: TABLE youtube_videos; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.youtube_videos TO anon;
GRANT ALL ON TABLE public.youtube_videos TO authenticated;
GRANT ALL ON TABLE public.youtube_videos TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict xgCmtLnadXSIRgUftE7cQxRBg6spIT2v3J7Q2vFvHwg6ouHEbBWx06RUiKatIpi

